<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beneficios de Afiliarse a AMTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text-center">
    <p class="text-gray-700">
      Afiliarte a AMTA (Asociación Mutual de Taxistas Argentinos) te brinda acceso a una amplia gama de beneficios diseñados para mejorar tu calidad de vida y la de tu familia.
    </p>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-4">
    <ion-card class="shadow-lg rounded-lg border border-gray-200">
      <ion-card-header>
        <ion-card-title class="text-primary text-center">Geolocalización de servicios</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-gray-600 text-center">
        Disfruta de importantes ahorros en una variedad de tiendas y servicios gracias a nuestros convenios exclusivos.
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-lg rounded-lg border border-gray-200">
      <ion-card-header>
        <ion-card-title class="text-primary text-center">Amplia gama de beneficios</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-gray-600 text-center">
        Desde atención médica hasta descuentos en múltiples comercios.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="mt-6">
    <h2 class="text-xl font-bold text-primary text-center">Lo que logras al afiliarte</h2>
    <div class="grid grid-cols-1 gap-4 mt-4">
      <ion-card class="shadow-lg rounded-lg border border-gray-200">
        <ion-card-header>
          <ion-card-title class="flex items-center text-blue-700"><ion-icon name="shield-checkmark" class="mr-2"></ion-icon> Seguridad y tranquilidad</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-gray-600">
          Asegura el bienestar de tu familia con acceso a servicios y descuentos diseñados para hacer la vida más asequible.
        </ion-card-content>
      </ion-card>

      <ion-card class="shadow-lg rounded-lg border border-gray-200">
        <ion-card-header>
          <ion-card-title class="flex items-center text-blue-700"><ion-icon name="people" class="mr-2"></ion-icon> Protección</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-gray-600">
          Mantén a tu familia protegida con atención médica y servicios de calidad siempre a tu alcance.
        </ion-card-content>
      </ion-card>

      <ion-card class="shadow-lg rounded-lg border border-gray-200">
        <ion-card-header>
          <ion-card-title class="flex items-center text-blue-700"><ion-icon name="construct" class="mr-2"></ion-icon> Comodidad y eficiencia</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-gray-600">
          Simplifica tu día a día con herramientas digitales que gestionan tus necesidades y maximizan tu ahorro.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afiliacion">
      <ion-icon name="star"></ion-icon>
      <ion-label>Afiliación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seguro">
      <ion-icon name="car"></ion-icon>
      <ion-label>Seguro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
