<ion-content class="login-content">
  <div class="login-container">

    <img src="../../assets/icon/sinfondo1.png" alt="Logo" class="login-logo" />

    <ion-item lines="none" class="login-input">
      <ion-label position="floating">Documento DNI</ion-label>
      <ion-input type="number" placeholder="Ingrese su DNI"></ion-input>
    </ion-item>

    <ion-item lines="none" class="login-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()" class="toggle-icon"></ion-icon>
    </ion-item>

    <a class="recover-link" href="#">Recuperar contraseña</a>

    <ion-button expand="block" class="login-button">Ingresar</ion-button>

    <div class="register-section">
      <p>¿Aún no tenés cuenta? <a class="register-link" href="#">Crea tu cuenta</a></p>

      <ion-button expand="block" class="affiliate-button">
        <ion-icon name="person-add" slot="start"></ion-icon>
        Afiliarme
      </ion-button>
    </div>
  </div>
</ion-content>
