<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Descuentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="discount-banner">
    <img src="../../../assets/icon/ilustracion-coleccion-medicos-enfermeras-dibujos-animados_23-2148920402.avif" alt="Afiliación" />
  </div>


  <ion-list>
    <ion-button expand="block" fill="outline">
      <ion-icon name="home-outline" slot="start"></ion-icon> Familia
    </ion-button>
    <ion-button expand="block" fill="outline">
      <ion-icon name="fitness-outline" slot="start"></ion-icon> Actividad física y nutrición
    </ion-button>
    <ion-button expand="block" fill="outline">
      <ion-icon name="film-outline" slot="start"></ion-icon> Cultura y entretenimiento
    </ion-button>
    <ion-button expand="block" fill="outline">
      <ion-icon name="medkit-outline" slot="start"></ion-icon> Farmacias
    </ion-button>
  </ion-list>

  <!-- Afiliación -->
  <div class="affiliation-card">
    <img src="../../../assets/icon/ilustracion-coleccion-medicos-enfermeras-dibujos-animados_23-2148920402.avif" alt="Afiliación" />
    <h3>¡Afíliate ahora!</h3>
    <p>Ahorra en una amplia cantidad de marcas, tiendas y comercios al afiliarte.</p>
    <ion-button expand="block" color="primary">Afiliarme</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afiliacion">
      <ion-icon name="star"></ion-icon>
      <ion-label>Afiliación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seguro">
      <ion-icon name="car"></ion-icon>
      <ion-label>Seguro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
