<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid">
    <ion-card>
      <img src="assets/salud.jpg" alt="Salud" />
      <p>Salud</p>
    </ion-card>

    <ion-card>
      <img src="assets/seguros.jpg" alt="Seguros" />
      <p>Seguros</p>
    </ion-card>

    <ion-card>
      <img src="assets/financiacion.jpg" alt="Financiación" />
      <p>Financiación</p>
    </ion-card>

    <ion-card>
      <img src="assets/juridico.jpg" alt="Gabinete jurídico" />
      <p class="highlight">Gabinete jurídico</p>
    </ion-card>

    <ion-card>
      <img src="assets/formacion.jpg" alt="Formación" />
      <p>Formación</p>
    </ion-card>

    <ion-card>
      <img src="assets/recreacion.jpg" alt="Recreación" />
      <p>Recreación</p>
    </ion-card>
  </div>
</ion-content>


<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afiliacion">
      <ion-icon name="star"></ion-icon>
      <ion-label>Afiliación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seguro">
      <ion-icon name="car"></ion-icon>
      <ion-label>Seguro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingresar">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>ingresar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
