<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">Servicios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="cards-grid">
    <div class="card-row" *ngFor="let row of serviciosChunked">
      <div class="card-wrapper" *ngFor="let servicio of row">
        <ion-card class="custom-card" (click)="goToInfoServicio(servicio.id)">
          <div class="image-container">
            <img *ngIf="servicio.imagen1Url" [src]="servicio.imagen1Url" [alt]="servicio.titulo" />
          </div>
          <ion-card-content>
            <h3 class="card-title">{{ servicio.titulo }}</h3>
          </ion-card-content>
        </ion-card>

      </div>
    </div>
  </div>
</ion-content>



<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afiliacion">
      <ion-icon name="star"></ion-icon>
      <ion-label>Afiliación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seguro">
      <ion-icon name="car"></ion-icon>
      <ion-label>Seguro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingresar">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>ingresar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
