
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gabinte Jurídico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="info-card">
    <ion-card-content>
      <p>
        Asesoramiento legal y de gestoría. Asistencia jurídica a la hora de defender tus derechos ante los tribunales,
        tanto en el ámbito administrativo como laboral y penal con profesionales dedicados a Reclamaciones.
      </p>
      <ion-button expand="full" class="cta-button">Empieza ahora</ion-button>
    </ion-card-content>
  </ion-card>

    <img src="../../../assets/icon/ilustracion-coleccion-medicos-enfermeras-dibujos-animados_23-2148920402.avif" alt="Afiliación" />

  <h3 class="access-title">Obtén acceso a:</h3>

   <!-- CARRUSEL HECHO CON IONIC -->
  <div class="carousel-container">
    <div class="carousel">
      <ion-button expand="full" class="access-button">Cursos</ion-button>
      <ion-button expand="full" class="access-button">Expedientes</ion-button>
      <ion-button expand="full" class="access-button">Condiciones</ion-button>
    </div>
  </div>

  <h3 class="faq-title">Preguntas frecuentes sobre el servicio de formación</h3>
  <ion-list>
    <ion-item>
      <ion-select placeholder="¿Pregunta 1?">
        <ion-select-option>Respuesta 1</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="¿Pregunta 2?">
        <ion-select-option>Respuesta 2</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afiliacion">
      <ion-icon name="star"></ion-icon>
      <ion-label>Afiliación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seguro">
      <ion-icon name="car"></ion-icon>
      <ion-label>Seguro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingresar">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>ingresar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
