
  .header {
    text-align: center;
    background-color: #80b3d9;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .info-card {
    text-align: center;
    margin: 15px;
  }

  .cta-button {
    background-color: #007aff;
    color: white;
    margin-top: 10px;
  }

  .main-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
  }

  .access-title, .faq-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .access-button {
    background-color: #007aff;
    color: white;
  }



.carousel-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.carousel {
  display: flex;
  gap: 10px;
}

.access-button {
  min-width: 120px; /* Ancho mínimo de cada botón */
  flex-shrink: 0; /* Evita que se reduzcan en pantallas pequeñas */
  background-color: #007aff;
  color: white;
  height: 120px;
   border: 2px solid ; /* Borde azul oscuro */
  border-radius: 12px; /* Bordes redondeados */
}
